<!DOCTYPE html>

<html>

<head>

<title>Sistema Inventario</title>

<link rel="stylesheet" href="/style.css">

</head>


<body>


<h1>Sistema de Inventario</h1>


<nav>

<a href="/productos">
Productos
</a>


<a href="/entradas">
Entradas
</a>


<a href="/salidas">
Salidas
</a>


<a href="/categorias">
Categorías
</a>


</nav>


<hr>



<h2>Panel principal</h2>


<p>
Bienvenido al sistema de control de inventarios
</p>



<div>


<h3>Gestión del sistema</h3>


<ul>

<li>Registrar productos</li>

<li>Controlar entradas de mercancía</li>

<li>Controlar salidas</li>

<li>Administrar categorías</li>


</ul>


</div>


</body>

</html>