body {
    font-family: Arial;
    background: #156082;
    color: white;
}

.container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #00cfff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

a {
    color: white;
}
table{
    width: 100%;
    background: white;
    color: black;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    padding: 10px;
    text-align: center;
}

th{
    background: #00cfff;
}
a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: #00cfff;
    color: black;
}